body {
  background: #000;
}
a {
  color: #ff0;
}
.cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 75vh;
}
.cover .hi {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  font-family: avalon;
  font-size: 100px;
  line-height: 60px;
  width: 100%;
  text-shadow: 0px 5px 10px #000000;
}
.cover .hi span {
  color: #ffffff;
  font-family: avalon;
  font-size: 60px;
  line-height: 60px;
}
.cover .hi span#playflix_slogan {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 20px;
}
.tv {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  max-height: 80vh;
  overflow: hidden;
  background: #013ba6;
}
.tv .screen {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-5%, -15%);
  z-index: 1;
  margin: auto;
  opacity: 0;
  transition: opacity .5s;
  filter: grayscale(100%);
  mix-blend-mode: multiply;  
}
.tv .screen.active {
  opacity: 1;
}